beautifulsoup4==4.7.1
black==18.9b0
flake8==3.7.7
flake8-import-order==0.18.1
flake8-polyfill==1.0.2
ipython-genutils==0.2.0
pep8==1.7.1
pep8-naming==0.8.2
pycodestyle==2.5.0
pydocstyle==3.0.0
pytest==4.3.0
-e git+https://github.com/jhochmuth/YouToxic.git@dfc650cce364a6f4857333fc19743459607762b6#egg=YouToxic
