.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-image: url("banner_background.jpeg");
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
    font-family: Impact;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.banner Img{
    position: relative;
    float: left;
    left: 10px;
    height: 75px;
}

body {
    margin: 0;
    background-color: lightgray;
}

._dash-undo-redo {
  display: none;
}
