.banner {
    height: 75px;
    margin: 0px -10px 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 2px;
}

.banner h2{
    color: white;
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 75px;
}

body {
    margin: 0;
    background-color: lightgray;
}

._dash-undo-redo {
  display: none;
}
